html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit;
}

body{
    background-image: url("https://background-tiles.com/overview/red/patterns/large/1012.png");
    margin: 0;
}

#wrapper {
    font-family: 'Nunito';
    width: 75%;
    margin: 10px auto;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 230, 0);
    padding: 10px;
}

#main {
    display: flex;
}

#content {
    flex-grow: 1;
    background: rgb(230, 221, 141);
    padding: 25px;
    text-align: justify;
}

#list:hover{
    cursor: auto;
    font-style: italic;
}

#sidebar {
    flex-shrink: 0;
    flex-basis: 30%;
    background: rgb(221, 208, 87);
    text-align: center;
    padding: 10px;
}

.side-button {
    display: block;
    background-color: rgb(255, 230, 0);
    width: 70%;
    border-radius: 5px;
    margin: 6px auto;
    padding: 6px 0;
    color: black;
    text-decoration: none;
    transition: background-color 0.7s, box-shadow 0.7s;
}

.side-button:hover {
    background-color: orange;
    font-weight: bold;
    box-shadow: -3px 5px 10px 1px black;
}

#footer {
    background: rgb(161, 149, 42);
    text-align: center;
}

#gallery{
    display: flex;
}

.photo-col img{
    display: block;
    width: 100%;
    background-color: #ccd63e63;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.photo-col{
    flex-basis: 100%;
    margin: 0 5px;
    text-align: center;
}

#main-img{
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

table{
    display: table;
    width: 100%;
    border-spacing: 1px;
    margin: 0 0;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
}

table img{
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    display: block;
    margin: auto auto;
}

#to-top-button{
    background: rgba(255, 230, 0, 0.777);
    box-shadow: -10px -5px 10px black;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: linear;
    transition: background-color 0.7s, box-shadow 0.7s;
}

#to-top-button:hover{
    background-color: orange;
    font-weight: bold;
    box-shadow: -3px 5px 10px 1px black;
}

#to-top-button img{
    width: 50px;
}

.ebook-text{
    text-align: justify;
    font-size: 20px;
}

.ebook-img{
    background: rgba(112, 101, 0, 0.507);
    display: block;
    width: 70%;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

iframe{
    width: 560px;
    height: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

form{
    background: rgb(221, 208, 87);
    border-radius: 10px;
    padding: 15px 15px;
}

textarea{
    width: 70%;
    height: 100px;
}

@media screen and (min-device-width: 810px) and (max-device-width: 960px){
    body{
        font-size: smaller;
    }
    #gallery h1{
        font-size: small;
    }
    .ebook-text{
        font-size: 16px;
    }
}

@media screen and (max-device-width: 809px) {
    #wrapper {
        width: 100%;
        margin: 0;
    }

    #main {
        flex-direction: column;
    }

    #sidebar {
        flex-basis: auto;
        order: -1;
    }

    #gallery{
        flex-wrap: wrap;
    }

    #to-top-button{
        border-radius: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        bottom: 10px;
        right: 0;
    }

    #to-top-button img{
        width: 35px;
    }

    .ebook-img{
        display: block;
        width: 100%;
        padding: 2px 2px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }

    table img{
        width: 90%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 5px;
        display: block;
        margin: auto auto;
    }

    iframe{
        max-width: 90%;
        max-height: 180px;
        margin: auto auto;
    }
}